<html layout:decorate="~{layout}">
	<!-- Model 객체의 값 받아서 출력 -->
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th>글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question , loop : ${paging}">
					<td th:text="${paging.getTotalElements -(paging.number * paging.size) - loop.index}">번호</td>
					<td th:text="${question.id}">글번호</td>
					<td class="text-start">
						<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">
						제목
						</a>
						<span class="text-danger small ms-2"
						th:if="${#lists.size(question.answerList) > 0 }"
						th:text="${#lists.size(question.answerList)}"/>
					</td>
					<td>
						<span th:if="${question.author != null}" th:text="${question.author.userid}"></span>
					</td>
					<td th:text="${#temporals.format(question.regdate, 'yy-MM-dd HH:mm:ss')}">작성일</td>
				</tr>
			</tbody>
		</table>
	<!-- S : Paging -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
			<!-- S : previous button -->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>Prev</span>
                </a>
            </li>
			<!-- E : previous button -->
			<!-- S : Page button -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            	th:if="${page >= paging.number-5 and page <= paging.number+5 }"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
			<!-- E : Page button -->
			<!-- S : Next button -->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>Next</span>
                </a>
            </li>
			<!-- E : Next button -->            
        </ul>
    </div>
	<!-- E : Paging -->
		<a th:href="@{create}" class="btn btn-primary">글 쓰기</a>
		
	</div>
</html>